.discussionItem_container {
  background-color: #ffffff;
  margin-top: 8px;
}

.discussionItem_container:last-child {
  margin-bottom: 8px;
}

.discussionAvatar > img {
  width: 33px;
  height: 33px;
  border-radius: 20px;
}

.header {
  display: flex;
  padding: 5px 10px;
}

.header > * {
  display: flex;
  align-items: center;
}

.header .discussionAvatar {
  flex: 1;
}

.header .name {
  flex: 6;
  font-size: 14px;
  font-weight: bold;
}

.header .name > svg {
  font-size: 12px;
  margin-left: 5px;
}

.header .published {
  flex: 4;
  font-size: 12px;
  justify-content: flex-end;
}

.header .menu {
  flex: 1;
  justify-content: flex-end;
  cursor: pointer;
}

.body {
  padding: 5px 10px;
  min-height: 50px;
}

.actions {
  display: flex;
  height: 47px;
}
.actions > div{
  flex: 1;
  font-size: 16px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.actions > div svg {
  margin-right: 5px;
  color: #677898;
}
.msg {
  font-size: 14px;
  text-align: start;
  word-break: break-all;
}

img.snapshot{
  display: block;
  width: 50%;
  height: 100px;
  margin: 15px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

img.snapshot:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.applyBookmark{
  margin: 10px 0;
  cursor: pointer;
  color: #4fb8ff;
  font-size: 13px;
  font-weight: bold;
  text-align: end;
  padding: 0 15px;
}

.applyBookmark svg{
  vertical-align: -2px;
}
